@use "styleguide" as pds;

pds-modal-header {
  @include pds.inner-spacing(--space-lg, x);
  @include pds.inner-spacing(--space-md, y);

  display: flex;
  justify-content: flex-start;
  align-items: center;
}
