@use "styleguide" as pds;

pds-modal-footer {
  @include pds.inner-spacing(pds.$space-6, x);
  @include pds.inner-spacing(pds.$space-5, y);

  display: flex;
  align-items: center;
  background-color: var(--gray-lighter);
  width: 100%;
}
