@use "styleguide" as pds;

pds-modal-footer {
  @include pds.inner-spacing(--space-lg, x);
  @include pds.inner-spacing(--space-md, y);

  display: flex;
  align-items: center;
  background-color: var(--gray-lighter);
  width: 100%;
}
