$rounding-xxl: 20px !default;
$rounding-xl: 16px !default;
$rounding-lg: 10px !default;
$rounding-md: 6px !default;
$rounding-sm: 4px !default;
$rounding-xs: 2px !default;
$rounding-xxs: 1px !default;

/// Global rounding factor applied to all `@include rounding(...)` usages
$rounding: 1 !default;

$rounding-map: (
  "rounding-xxl": $rounding-xxl,
  "rounding-xl": $rounding-xl,
  "rounding-lg": $rounding-lg,
  "rounding-md": $rounding-md,
  "rounding-sm": $rounding-sm,
  "rounding-xs": $rounding-xs,
  "rounding-xxs": $rounding-xxs,
) !default;
