@use "../colors" as *;
@use "./colors" as *;

@use "./theme";
@use "util";

$dark-theme: theme.define(
  (
    "primary-darker": $watermelon-darker,
    "primary": $watermelon,
    "primary-lighter": $watermelon-lighter,
    "primary-contrast": $black,
    "focus": $smokey-blue-lighter,
    "gray-primary": $gray-200,
    "gray-secondary": $gray-400,
    "disabled": $gray-600,
    "background-lighter": $gray-700,
    "background": $gray-800,
    "background-darker": $gray-900,
    "page": $black,
    "sheet": --background-darker,
    "input-border-color": --background-lighter,
    "code": --background-darker,
    // resets:
    "link": --primary,
    "link-hover": --primary-lighter,
    "link-active": --primary-darker,
  )
) !default;

$info-theme: theme.define(
  (
    "primary-darker": --info-darker,
    "primary": --info,
    "primary-lighter": --info-lighter,
    "primary-contrast": --info-contrast,
    // resets:
    "link": --primary-darker,
    "link-hover": --primary-lighter,
    "link-active": --primary-darker,
  )
) !default;

$success-theme: theme.define(
  (
    "primary-darker": --success-darker,
    "primary": --success,
    "primary-lighter": --success-lighter,
    "primary-contrast": --success-contrast,
    // resets:
    "link": --primary-darker,
    "link-hover": --primary-lighter,
    "link-active": --primary-darker,
  )
) !default;

$warning-theme: theme.define(
  (
    "primary-darker": --warning-darker,
    "primary": --warning,
    "primary-lighter": --warning-lighter,
    "primary-contrast": --warning-contrast,
    // resets:
    "link": --primary-darker,
    "link-hover": --primary-lighter,
    "link-active": --primary-darker,
  )
) !default;

$error-theme: theme.define(
  (
    "primary-darker": --error-darker,
    "primary": --error,
    "primary-lighter": --error-lighter,
    "primary-contrast": --error-contrast,
    // resets:
    "link": --primary-darker,
    "link-hover": --primary-lighter,
    "link-focus": --focus,
    "link-active": --primary-darker,
  )
) !default;
