@use "./typography";

$body-typography: typography.define(17px, 26px) !default;
$body-small-typography: typography.define(15px, 22.5px) !default;

$caption-typography: typography.define(13px, 20px);

$h1-typography: typography.define(34px, 42.5px) !default;
$h2-typography: typography.define(26px, 32.5px) !default;
$h3-typography: typography.define(20px, 25px, bold) !default;
$h4-typography: typography.define(17px, 21.25px, bold) !default;
$h5-typography: typography.define(15px, 18.75px, bold) !default;
$h6-typography: $h5-typography !default;

$typography-map: (
  "body": $body-typography,
  "body-small": $body-small-typography,
  "caption": $caption-typography,
  "h1": $h1-typography,
  "h2": $h2-typography,
  "h3": $h3-typography,
  "h4": $h4-typography,
  "h5": $h5-typography,
  "h6": $h6-typography,
) !default;
