@use "styleguide" as pds;
@use "util";

$tag-height: 24px !default;

pds-tag {
  @include pds.typography(--body-small);
  @include pds.inner-spacing(pds.$space-3, x);
  @include pds.rounding($tag-height * 0.5);

  user-select: none;
  align-items: center;
  display: inline-flex;
  background-color: var(--gray);
  color: var(--foreground);
  height: $tag-height;
}
