@use "styleguide" as pds;
@use "util";

pds-tag {
  @include pds.typography(--body-small);
  @include pds.inner-spacing(--space-sm, x);
  @include pds.outer-sibling-spacing(--space-xs);
  @include pds.rounding(--rounding-xxl);

  user-select: none;
  align-items: center;
  display: inline-flex;
  background-color: var(--background);
  height: var(--tag-height, 32px);
  color: currentColor;

  @include util.hover-state {
    background-color: var(--background-lighter);
  }
  @include util.active-state {
    background-color: var(--background-darker);
  }

  @include util.focus-state {
    background-color: var(--focus);
    color: var(--focus-contrast);
  }

  @include util.disabled-state {
    color: var(--disabled);
    pointer-events: none;
  }
}
