pds-page-layout {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  height: 100%;

  > main {
    flex: 1 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-y: overlay;
    overflow-x: hidden;

    pds-page-content,
    .pds-page-content {
      flex: 1 0 0;
      max-width: 100%;
    }
    pds-page-footer {
      flex: 0 1 auto;
    }
  }
}
