@use "../../rounding" as *;
@use "../../spacing" as *;

@mixin code {
  code {
    @include rounding(--rounding-sm);
    @include inner-spacing(--space-xxs, x);

    background-color: var(--code, var(--background));
    display: inline-block;
    font-size: 0.9em;

    @content;
  }
}
