@use "../../rounding" as *;
@use "../../spacing" as *;

@mixin code {
  code {
    @include rounding(--rounding-sm);
    @include inner-spacing(--space-1, x);

    border: 1px solid var(--code, var(--gray-light));
    display: inline-block;
    font-size: 0.9em;

    @content;
  }
}
