@use "styleguide/spacings" as *;

@use "../../spacing" as *;
@use "../../rounding" as *;

@mixin pre {
  pre {
    @include rounding(--rounding-sm);
    @include outer-spacing(--space-4, y, $trim: true);
    @include inner-spacing(--space-4, x);
    @include inner-spacing(--space-3, y);

    border: 1px solid var(--pre, var(--gray-light));

    code {
      border: none;
      padding: 0;
    }

    @content;
  }
}
