@use "styleguide/spacings" as *;

@use "../../spacing" as *;
@use "../../rounding" as *;

@mixin pre {
  pre {
    @include rounding(--rounding-md);
    @include outer-spacing(--space-md, y, $trim: true);
    @include inner-spacing(--space-md, x);
    @include inner-spacing(--space-sm, y);

    border: 1px solid var(--code, var(--background));
    overflow: auto;

    code {
      background-color: transparent !important;
      border: none !important;
      padding: 0;
    }

    @content;
  }
}
