@use "~@angular/cdk/overlay" as ng;

@use "util";
@use "styleguide" as pds;

@include util.font-face('/assets/fonts/pt-sans', 'pt-sans-bold', 'PT Sans', 700, ttf);
@include util.font-face('/assets/fonts/pt-sans', 'pt-sans-regular', 'PT Sans', 400, ttf);

@at-root :root {
  --app-menu-width: 320px;
  --app-header-height: 100px;
}

@include pds.core;
@include pds.html5;

@include pds.color-classes;
@include pds.typography-classes;

@include pds.sheet;
@include pds.browser-scrollbar;
@include ng.overlay;

body {
  &:not(.dark) {
    @import '~highlight.js/scss/github';
  }
  &.dark {
    @include pds.theme(pds.$dark-theme);
    @import '~highlight.js/scss/vs2015';
  }
}
