@use "styleguide" as pds;
@use "util";

@use "../text-box/text-box-base" as *;

pds-select-box {
  @include pds-text-box-base;

  cursor: default;

  .pds-select-box-value {
    @include pds.outer-child-spacing(--space-1, x, $trim: true, $justify: true);

    flex: 1 0 0;
    align-items: inherit;
    display: flex;
  }
  .pds-select-box-placeholder {
    color: var(--placeholder, pds.$input-placeholder);
    pointer-events: none;
    user-select: none;
  }
  .pds-select-box-toggle {
    align-self: stretch;
    cursor: pointer;
  }
}

.pds-select-box-overlay-container {
  @include pds.elevation(pds.$raised-elevation);

  min-width: 120px;
  width: 100%;

  .top & {
    @include pds.outer-spacing(--space-1, bottom);
  }
  .bottom & {
    @include pds.outer-spacing(--space-1, top);
  }
}
