@import "elevations";
@import "constants";
@import "mixins";

$fab-button-size: 60px !default;
$fab-button-spacing: $space-9 !default;
$fab-button-rounding: $fab-button-size * 0.5 !default;

pds-fab-button {
  @include button-base;
  @include button-primary;
  @include outer-spacing($fab-button-spacing, bottom);
  @include outer-spacing($fab-button-spacing, right);
  @include rounding($fab-button-rounding);
  @include elevation($overlay);

  position: fixed;
  bottom: 0; right: 0;
  height: $fab-button-size;
  width: $fab-button-size;
}
