@use "styleguide" as pds;

$fab-button-size: 60px !default;
$fab-button-spacing: var(--space-xxl) !default;
$fab-button-rounding: $fab-button-size * 0.5 !default;

pds-fab {
  @include pds.button-base;
  @include pds.button-primary;
  @include pds.rounding($fab-button-rounding);
  @include pds.elevation(pds.$overlay-elevation);

  height: $fab-button-size;
  width: $fab-button-size;

  &:not([inline]) {
    @include pds.outer-spacing($fab-button-spacing, bottom);
    @include pds.outer-spacing($fab-button-spacing, right);

    position: absolute;
    bottom: 0;
    right: 0;
  }
}
