@use "styleguide" as pds;
@use "util";

$tab-active-indicator-width: 4px !default;

pds-tab {
  @include pds.inner-spacing(pds.$space-3, y);

  user-select: none;
  position: relative;
  transition: 100ms ease-in;
  font-weight: 500;
  cursor: pointer;

  &:not(:first-child) {
    margin-left: pds.$space_8;
  }

  @include util.hover-state {
    &:after {
      background-color: var(--primary);
    }
  }
  @include util.active-state {
    &:after {
      background-color: var(--primary-light);
    }
  }
  @include util.disabled_state($within_parent: true) {
    pointer-events: none;

    color: var(--disabled);
  }

  &:after {
    @include pds.rounding($tab-active-indicator-width);

    content: ' ';
    display: block;
    position: absolute;
    height: $tab-active-indicator-width;
    transition: inherit;
    bottom: 0;
    right: 0;
    left: 0;
  }
}
