@use "styleguide" as pds;
@use "util";

$tab-active-indicator-width: 4px !default;

pds-tab {
  @include pds.inner-spacing(pds.$space-3, y);

  user-select: none;
  transition: 100ms ease-in;
  border-bottom: $tab-active-indicator-width solid transparent;
  font-weight: 500;
  cursor: pointer;

  &:not(:first-child) {
    margin-left: pds.$space_8;
  }

  @include util.hover-state {
    border-color: var(--primary);
  }
  @include util.active-state {
    border-color: var(--primary-light);
  }
  @include util.disabled_state($within_parent: true) {
    pointer-events: none;

    color: var(--disabled);
  }
}
