@forward "styleguide/mixins";
@forward "styleguide/typography" as typography-*;
@forward "styleguide/elevation" as elevation-*;
@forward "styleguide/theme" as theme-*;

@forward "styleguide/color-mods" as color-mod-*;
@forward "styleguide/colors" as color-*;

@forward "styleguide/typographies";
@forward "styleguide/elevations";
@forward "styleguide/roundings";
@forward "styleguide/spacings";
@forward "styleguide/inputs";

@use "sass:list";
@use "sass:string";

@use "util/mixins" as *;
@use "util/custom-property" as *;

@use "styleguide/theme";
@use "styleguide/elevation";
@use "styleguide/typography";
@use "styleguide/mixins" as *;

@use "styleguide/colors" as *;
@use "styleguide/color-mods" as *;
@use "styleguide/typographies" as *;
@use "styleguide/elevations" as *;
@use "styleguide/roundings" as *;
@use "styleguide/spacings" as *;
@use "styleguide/inputs" as *;

$spacing: $spacing !default;
$rounding: $rounding !default;

$colors: ($common-color-map, $system-color-map) !default;
$color-classes: ("primary", "primary-dark", "primary-light", "good", "warning", "bad") !default;
$color-rgb: false !default;

$typography: $typography-map !default;
$typography-classes: ("body-small", "capitalized", "lead", "small", "tiny") !default;

$custom-properties: null !default;

$body-typography: --body !default;

$foreground-color: --gray-darker !default;
$background-color: --gray-lighter !default;

$font-family: "PT Sans", sans-serif !default;

$default-theme: theme.define($colors, $typography, $custom-properties) !default;

@mixin core {
  @at-root {
    :root {
      @include theme($default-theme) {
        @include custom-color-property(--foreground, $foreground-color, $rgb: $color-rgb);
        @include custom-color-property(--background, $background-color, $rgb: $color-rgb);
      }
    }

    body {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      @if $font-family == null {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
      } @else {
        font-family: var-or-default($font-family);
      }
      @if $body-typography != null {
        @include typography-style($body-typography);
      }
      background-color: var(--background);
      color: var(--foreground);
    }

    * {
      &:focus { outline: none }
    }
  }
}

@mixin semantics {
  @include blockquote;
  @include headline;
  @include paragraph;
  @include label;
  @include link;
  @include display;
}

@mixin class-semantics {
  @include typography-variants($typography-classes);
  @include text-color-accents($color-classes);
}

@mixin forms {
  @at-root :root {
    --input-height: #{$input-height};
    --input-spacing: #{$input-spacing};
    --input-rounding: #{$input-rounding};
  }

  @include button {
    --spacing: var(--input-spacing);
    --rounding: var(--input-rounding);
  }
  @include input {
    --spacing: var(--input-spacing);
    --rounding: var(--input-rounding);
  }
}
