@use "styleguide" as pds;

pds-app-component-example-page {
  .example-container {
    @include pds.outer-spacing(--space-md, bottom);
    @include pds.inner-spacing(--space-sm);
    @include pds.rounding(--rounding-md);

    border: 1px dashed var(--background-darker);
    overflow: hidden auto;
  }
  .example-header {
    @include pds.outer-spacing(--space-md, bottom);
    @include pds.outer-child-spacing(--space-lg, x, $trim: true, $justify: true);

    display: flex;
    align-items: center;

    .example-h {
      margin: 0;
      flex-shrink: 0;
    }

    pds-tabs {
      flex: 1 0 0;
    }
  }

  ng-component {
    @include pds.outer-child-spacing(--space-md, x, $trim: true, $justify: true);

    display: flex;
    align-items: center;
  }
}
