@use "font-face" as *;

@import "constants";
@import "mixins";

@include font-face("../assets/fonts/pt-sans", "pt-sans-bold", "PT Sans", bold, ttf);
@include font-face("../assets/fonts/pt-sans", "pt-sans-regular", "PT Sans", normal, ttf);

main {
  @include inner-spacing($space-7);
}

section {
  @include outer-spacing($space-7, y);

  label {
    @include outer-spacing($space-3, bottom);
  }
}

.row {
  display: flex;

  .col {
    flex: 0 1 auto;

    @include outer-spacing($space-7, x, $trim: true);

    &.col-grow {
      flex: 1 0 auto;
    }
    &.col-25 {
      min-width: 25%;
    }
  }
}

.text-muted {
  user-select: none;
  opacity: 0.35;
}
