@use "styleguide" as pds;

pds-breadcrumbs {
  @include pds.outer-child-spacing(--space-sm, x, $trim: true, $justify: true);

  display: flex;
  flex-flow: row wrap;
  align-items: center;

  [pdsBreadcrumbDivider] {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 1em;
    width: 1em;
  }
}
