@use "styleguide" as pds;

page-footer {
  @include pds.outer-spacing(--space-8, top);
  height: 64px;
}

pds-app-footer {
  width: 100%;
  flex: 1 0 auto;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  display: flex;

  .app-legal-links {
    @include pds.outer-child-spacing(--space-3, $trim: true);
  }
  .app-legal-claims {
    color: var(--gray-darker);
  }

  .app-love-indicator {
    @include pds.typography-style(--small);
    @include pds.outer-spacing(--space-4, x);

    color: var(--gray-dark);

    > span {
      color: var(--primary-light);
    }
  }
}
