@use "styleguide" as pds;

$nav-spacing-x: pds.$space-6 !default;
$nav-spacing-y: pds.$space-8 !default;

$main-menu-theme: pds.theme-define(
  (
    'pds-main-menu': (
      'foreground': --primary-contrast,
      'primary': --light,
      'secondary': --primary-light,
    ),
  )
);

pds-app {
  display: flex;
  align-items: stretch;
  height: 100vh;

  .pds-app-branding {
    @include pds.inner-spacing($nav-spacing-x, x);
    @include pds.typography-style(--capitalized);

    display: flex;
    align-items: center;
    user-select: none;
    height: var(--app-header-height);

    svg-icon {
      margin-right: $nav-spacing-x;
      color: var(--primary);
      flex: 0 0;
    }
    .pds-app-brand {
      flex: 1 0;
    }
  }

  pds-main-menu {
    @include pds.elevation(pds.$nav-elevation);
    @include pds.theme($main-menu-theme);

    flex: 0 0 auto;
    background: linear-gradient(45deg, var(--primary) 0%, var(--primary-light) 100%);
    width: var(--app-menu-width);

    .nav-entry svg-icon {
      @include pds.outer-spacing(--space-5, right);
    }
  }
  router-outlet + * {
    display: block;
    max-width: calc(100vw - var(--app-menu-width));
    flex: 1 0 0;
  }
}
