@use "styleguide" as pds;
@use "util";

pds-app {
  display: flex;
  align-items: stretch;
  height: 100vh;

  .pds-app-branding {
    @include pds.inner-spacing(--space-lg, x);
    @include pds.typography-style(--h6);

    display: flex;
    align-items: center;
    user-select: none;
    height: var(--app-header-height);

    svg-icon {
      @include pds.outer-spacing(--space-lg, right);

      color: var(--primary);
      flex: 0 0;
    }
    .pds-app-brand {
      flex: 1 0;
    }
  }

  pds-nav {
    width: var(--app-menu-width);
  }
  router-outlet + * {
    display: block;
    max-width: calc(100vw - var(--app-menu-width));
    flex: 1 0 0;
  }
}
