@use "../../constants" as *;
@use "../spacing" as *;

@mixin link {
  a {
    // todo: @include outer-sibling-spacing($space-4);
    // todo: @include outer-child-spacing($space-2, x, $trim: true);

    font-weight: bold;
    text-decoration: none;
    color: var(--link);
    cursor: pointer;

    &:link {
    }
    &:visited {
      color: var(--link-visited, var(--link));
    }

    &:hover {
      color: var(--link-hover, var(--link));
    }
    &:focus {
      color: var(--link-focus, var(--link));
    }
    &:active {
      color: var(--link-active, var(--link));
    }
  }
}
