@use "colors/berry" as *;
@use "../theme";

@use "./system" as *;

$primary-dark: $blackberry !default;
$primary: $berry !default;
$primary-light: $pinkberry !default;
$primary-contrast: white !default;

$gray-darkest: $dark !default;
$gray-darker: $dark-t1 !default;
$gray-dark: $dark-t2 !default;
$gray: $dark-t4 !default;
$gray-light: $light !default;
$gray-lighter: $light-t1 !default;
$gray-lightest: $light-t2 !default;

$good-dark: $green-s1 !default;
$good: $green !default;
$good-light: $green-t1 !default;

$good-outline: $green-outline !default;
$good-contrast: white !default;

$warn-dark: $yellow-s1 !default;
$warn: $yellow !default;
$warn-light: $yellow-t2 !default;

$warn-outline: $yellow-outline !default;
$warn-contrast: black !default;

$bad-dark: $red-s1 !default;
$bad: $red !default;
$bad-light: $red-t2 !default;

$bad-outline: $red-outline !default;
$bad-contrast: white !default;

$link: var(--primary) !default;
$link-hover: var(--primary-light) !default;

$disabled: var(--gray) !default;

$accent-color-map: (
  "primary-dark": $primary-dark,
  "primary": $primary,
  "primary-light": $primary-light,
  "primary-contrast": $primary-contrast,
  "gray-darkest": $gray-darkest,
  "gray-darker": $gray-darker,
  "gray-dark": $gray-dark,
  "gray": $gray,
  "gray-light": $gray-light,
  "gray-lighter": $gray-lighter,
  "gray-lightest": $gray-lightest,
  "good-dark": $good-dark,
  "good": $good,
  "good-light": $good-light,
  "good-outline": $good-outline,
  "good-contrast": $good-contrast,
  "warn-dark": $warn-dark,
  "warn": $warn,
  "warn-light": $warn-light,
  "warn-outline": $warn-outline,
  "warn-contrast": $warn-contrast,
  "bad-dark": $bad-dark,
  "bad": $bad,
  "bad-light": $bad-light,
  "bad-outline": $bad-outline,
  "bad-contrast": $bad-contrast,
  "link": $link,
  "link-hover": $link-hover,
  "disabled": $disabled,
) !default;
