@use "../theme";

@use "../../colors" as *;
@use "./system" as *;

$primary-darker: $berry-darker !default;
$primary: $berry !default;
$primary-lighter: $berry-lighter !default;
$primary-contrast: white !default;

$focus: $smokey-blue !default;
$focus-contrast: white !default;

$gray-primary: $gray-900 !default;
$gray-secondary: $gray-700 !default;

$disabled: $gray-500 !default;
$disabled-contrast: $gray-700 !default;

$background-darker: $gray-400 !default;
$background: $gray-300 !default;
$background-lighter: $gray-100 !default;

$page: var(--background-lighter) !default;
$sheet: $white !default;

$link: var(--primary) !default;
$link-hover: var(--primary-lighter) !default;
$link-active: var(--primary-darker) !default;

$accent-color-map: (
  "primary-darker": $primary-darker,
  "primary": $primary,
  "primary-lighter": $primary-lighter,
  "primary-contrast": $primary-contrast,
  "focus": $focus,
  "focus-contrast": $focus-contrast,
  "gray": $gray-primary,
  "gray-primary": --gray,
  "gray-secondary": $gray-secondary,
  "disabled": $disabled,
  "disabled-contrast": $disabled-contrast,
  "background-darker": $background-darker,
  "background": $background,
  "background-lighter": $background-lighter,
  "page": $page,
  "sheet": $sheet,
  "link": $link,
  "link-hover": $link-hover,
  "link-active": $link-active,
  // backwards compatibility, consider removal <editor-fold>
  "primary-dark": --primary-darker,
  "primary-light": --primary-lighter,
  "gray-darkest": $gray-900,
  "gray-darker": $gray-700,
  "gray-dark": $gray-500,
  "gray-light": $gray-400,
  "gray-lighter": $gray-300,
  "gray-lightest": $gray-100,
  // </editor-fold>
) !default;
