$light: #ebebeb !default;
$light-t1: #f5f5f5 !default;
$light-t2: #ffffff !default;
$light-outline: $light !default;

$dark: #000000 !default;
$dark-t1: #232323 !default;
$dark-t2: #777777 !default;
$dark-t3: #a3a3a3 !default;
$dark-t4: #c8c8c8 !default;
$dark-outline: $dark-t2 !default;

$red-s1: #b02828 !default;
$red: #e63535 !default;
$red-t1: #ff3b3b !default;
$red-t2: #ff5c5c !default;
$red-t3: #ff8080 !default;
$red-t4: #ffe6e6 !default;
$red-outline: $red-t1 !default;

$green-s1: #0e6b02 !default;
$green: #159f03 !default;
$green-t1: #50b742 !default;
$green-t2: #8acf81 !default;
$green-t3: #c4e7c0 !default;
$green-t4: #e3fff1 !default;
$green-outline: $green !default;

$blue-s1: #0432b0 !default;
$blue: #0647f5 !default;
$blue-t1: #2b62f6 !default;
$blue-t2: #6aa1f9 !default;
$blue-t3: #c1dbfc !default;
$blue-t4: #e5f0ff !default;
$blue-outline: #1476d8 !default;

$orange-s1: #b05e00 !default;
$orange: #e67a00 !default;
$orange-t1: #ff8800 !default;
$orange-t2: #fdac42 !default;
$orange-t3: #fccc75 !default;
$orange-t4: #fff8e6 !default;
$orange-outline: #de6800 !default;

$yellow-s1: #b08204 !default;
$yellow: #fcba04 !default;
$yellow-t1: #fdcc43 !default;
$yellow-t2: #fdd668 !default;
$yellow-t3: #feeab3 !default;
$yellow-t4: #fef8e5 !default;
$yellow-outline: #ffcc00 !default;
