$rounding-xxl: 20px !default;
$rounding-xl: 16px !default;
$rounding-lg: 10px !default;
$rounding-md: 6px !default;
$rounding-sm: 4px !default;
$rounding-xs: 2px !default;
$rounding-xxs: 1px !default;

/// Global rounding factor applied to all spacings
$rounding: 1 !default;
