$space-9: 64px !default;
$space-8: 56px !default;
$space-7: 40px !default;
$space-6: 32px !default;
$space-5: 24px !default;

$space-4: 16px !default;
$space-3: 12px !default;
$space-2: 8px !default;
$space-1: 4px !default;

/// Global spacing factor applied to all spaces
$spacing: 1 !default;
