@use "styleguide" as pds;
@use "util";

@mixin pds-text-box-base {
  @include pds.outer-child-spacing(pds.$input-padding-x, x, $trim: true, $justify: true);
  @include pds.input-base;

  width: 100%;
  min-width: 60px;
  white-space: nowrap;
  height: var(--input-height);
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  cursor: text;

  input {
    font: inherit;
    padding: 0 !important;
    border: none !important;
    background: transparent !important;
    box-shadow: none !important;
    flex: 1 1 auto;
  }

  @include util.hover-state {
    @include pds.input-hover;
  }
  @include util.focus-state {
    @include pds.input-focus;
  }
  @include util.read-only-state($with-pseudo: false) {
    @include pds.input-read-only;
  }
  @include util.disabled-state {
    @include pds.input-disabled;
  }
}
