@use "sass:string" as str;
@use "coerce";

/// Replaces any $substr occurrence inside $str with the $replace value
@function replace($str, $substr, $replace: "") {
  $str: coerce.to-str($str);
  $substr: coerce.to-str($substr);
  $index: str.index($str, $substr);
  @if $index {
    $replace: $replace + replace(str.slice($str, $index + str.length($substr)), $substr, $replace);
    @return str.slice($str, 1, $index - 1) + $replace;
  }
  @return $str;
}

/// Trims the $token value from the start of the $str value
@function trim-start($str, $token: " ") {
  $str: coerce.to-str($str);
  @if str-slice($str, 1, 1) == $token {
    @return trim-start(str-slice($str, 2));
  } @else {
    @return $str;
  }
}

/// Trims the $token value from the end of the $str value
@function trim-end($str, $token: " ") {
  $str: coerce.to-str($str);
  @if str-slice($str, str-length($str), -1) == $token {
    @return trim-end(str-slice($str, 1, -2));
  } @else {
    @return $str;
  }
}

/// Trims the $token value from the start and end of the $str value
@function trim($str, $token: " ") {
  @return trim-start(trim-end($str, $token), $token);
}
