@use "styleguide" as pds;

pds-divider {
  --divider-spacing: var(--space-sm);

  flex: 0 0 auto;
  display: inline-flex;
  background-color: var(--background-darker);
  justify-self: stretch;
  align-self: stretch;

  &.secondary {
    background-color: var(--background);
  }

  &:not(.vertical) {
    @include pds.outer-spacing(--divider-spacing, y);

    width: 100%;
    min-width: 1em;
    height: 1px;
  }
  &.vertical {
    @include pds.outer-spacing(--divider-spacing, x);

    height: 100%;
    min-height: 1em;
    width: 1px;
  }
}
