@use "styleguide" as pds;

$card-padding-x: pds.$space-3 !default;
$card-padding-y: pds.$space-3 !default;

pds-card {
  @include pds.elevation(pds.$raised-elevation);
  @include pds.rounding(pds.$rounding-lg);
  @include pds.inner-spacing($card-padding-x, x);
  @include pds.inner-spacing($card-padding-y, y);

  display: block;
  overflow: hidden;
  background: var(--gray-lightest);

  pds-card-header > label {
    display: inline-flex;
    align-items: center;

    > svg-icon {
      margin-right: pds.$space-3;
    }
  }

  pds-card-header {
    @include pds.inner-spacing($card-padding-y, bottom);

    display: flex;
    justify-content: space-between;
  }
  pds-card-footer {
    @include pds.inner-spacing($card-padding-y, top);

    display: flex;
  }
}
