@use "styleguide" as pds;

pds-app-header {
  @include pds.inner-spacing(--space-sm, top);

  flex: 1 0 auto;
  width: 100%;

  .page-head {
    display: flex;
    align-items: center;
    user-select: none;

    > div {
      flex: 1 0 0;
    }

    .page-title {
      @include pds.outer-spacing(--space-4, right);
    }
  }

  .app-search {
    display: flex;
    align-items: center;
  }
}
