@use "styleguide" as pds;

pds-app-header {
  display: flex;
  align-items: center;
  min-height: var(--app-header-height);
  user-select: none;
  width: 100%;
  flex: 1 0 0;

  .header-content {
    flex: 1 0 0;
    align-items: stretch;
    display: flex;
  }
  .header-controls {
    @include pds.outer-child-spacing(--space-lg, x, $trim: true, $justify: true);
  }
}
