@use "../typography";

$display-1: typography.define(64px, 84px, bold, -0.02px);
$display-2: typography.define(56px, 72px, normal, -0.02px);
$display-3: typography.define(32px, 42px, normal, -0.01px);

$display-typography-map: (
  "display-1": $display-1,
  "display-2": $display-2,
  "display-3": $display-3,
);
