@use "../system-dark" as *;

$disabled: $system-dark-t4 !default;
$disabled-outline: $system-dark-outline !default;

// States <editor-fold>
$disabled-hover: var(--disabled) !default;
$disabled-focus: var(--disabled) !default;
// </editor-fold>

// Maps <editor-fold>
$disabled-color-map: (
  "disabled": $disabled,
  "disabled-outline": $disabled-outline,
);

$disabled-state-color-map: (
  "disabled-hover": $disabled-hover,
  "disabled-focus": $disabled-focus,
);
// </editor-fold>
