@use "../system" as *;

$gray-darkest: $system-dark !default;
$gray-darker: $system-dark-t1 !default;
$gray-dark: $system-dark-t2 !default;
$gray: $system-dark-t4 !default;
$gray-light: $system-light !default;
$gray-lighter: $system-light-t1 !default;
$gray-lightest: $system-light-t2 !default;

$gray-color-map: (
  "gray-darkest": $gray-darkest,
  "gray-darker": $gray-darker,
  "gray-dark": $gray-dark,
  "gray": $gray,
  "gray-light": $gray-light,
  "gray-lighter": $gray-lighter,
  "gray-lightest": $gray-lightest,
);
