@mixin link {
  a {
    font-weight: bold;
    text-decoration: none;
    color: var(--link);
    cursor: pointer;

    &:link {
    }
    &:visited {
      color: var(--link-visited, var(--link));
    }

    &:hover {
      color: var(--link-hover, var(--link));
    }
    &:focus {
      color: var(--link-focus, var(--link));
    }
    &:active {
      color: var(--link-active, var(--link));
    }
  }
}
