@use "styleguide" as pds;

pds-app-component-example-page {
  .example-container {
    @include pds.outer-spacing(--space-md, bottom);
    @include pds.inner-spacing(--space-sm);
    @include pds.rounding(--rounding-md);

    background-color: var(--sheet);
    border: 2px dashed var(--background);
    overflow: hidden auto;
    // height: 420px;
  }
  .example-header {
    @include pds.outer-spacing(--space-md, bottom);

    display: flex;
    align-items: center;

    .example-h {
      flex: 1 0 0;
      margin: 0;
    }
  }

  ng-component {
    @include pds.outer-child-spacing(--space-md, x, $trim: true, $justify: true);

    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}
