@use "styleguide" as pds;

.pds-dropdown-overlay-container > * {
  @include pds.elevation(pds.$raised-elevation);
  @include pds.outer-spacing(--space-1, y);

  width: 100%;
  max-height: 42vh;
  overflow: auto;
}
