@use "styleguide" as pds;

pds-dropdown {
  display: none;
  appearance: none;
}

.pds-dropdown-overlay-container > * {
  @include pds.elevation(pds.$level-4);
  @include pds.outer-spacing(--space-1, y);

  width: 100%;
  min-width: 220px;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
