@use "styleguide" as pds;
@use "util";

pds-nav-entry {
  @include pds.rounding(--rounding-md);
  @include pds.outer-sibling-spacing(--space-xs, y, $trim: true, $justify: true);
  @include pds.outer-child-spacing(--space-sm, x, $trim: true, $justify: true);
  @include pds.outer-spacing(--space-sm, x);
  @include pds.inner-spacing(--space-sm, x);
  @include pds.inner-spacing(--space-xs, y);

  display: flex;
  cursor: pointer;
  color: currentColor;
  align-items: center;
  font-weight: normal;
  transition: 60ms ease-out;
  min-height: var(--input-height, 44px);
  border: 2px solid transparent;

  @include util.hover-state {
    color: var(--primary-lighter);
  }
  &:active {
    color: var(--primary);
  }
  &.active {
    background-color: var(--background);
    border-color: var(--background);
  }
  @include util.focus-state {
    border-color: var(--focus);
    color: var(--focus);
  }

  @include util.disabled-state {
    color: var(--disabled);
    pointer-events: none;
  }

  > div {
    flex: 1 0 0;
  }
}
