@use "styleguide" as pds;
@use "util";

pds-nav {
  @include pds.elevation(pds.$level-3, (0 0 0 1px var(--background)));

  display: flex;
  flex-direction: column;
  background: var(--sheet);
  height: 100%;

  > nav-entry-outlet {
    @include pds.outer-spacing(--space-xs, bottom);

    user-select: none;
    flex-direction: column;
    display: flex;

    &:first-of-type {
      flex: 1 0 auto;
    }
  }
}
