@use "styleguide" as pds;
@use "util";

$property-prefix: 'pds-nav' !default;
$properties: (
  'foreground': --foreground,
  'background': --gray-lighter,
  'primary': --primary,
  'secondary': --secondary,
) !default;

pds-nav {
  @include util.custom-color-properties($properties, $prefix: $property-prefix);

  display: flex;
  flex-direction: column;
  background: util.var(--background, $prefix: $property-prefix);
  color: util.var(--foreground, $prefix: $property-prefix);
  height: 100%;

  > nav-entry-outlet {
    user-select: none;
    flex-direction: column;
    display: flex;

    &:first-of-type {
      flex: 1 0 auto;
    }
  }
}
