@use "styleguide" as pds;
@use "util";

$alert-color: var(--primary-light) !default;
$alert-affix-color: var(--primary) !default;
$alert-color-contrast: var(--foreground) !default;

pds-alert {
  @include pds.outer-child-spacing(--space-4, x, $trim: true, $justify: true);
  @include pds.inner-spacing(--space-5, x);
  @include pds.inner-spacing(--space-4, y);
  @include pds.rounding(--rounding-md);

  z-index: 0;
  display: flex;
  align-items: center;
  color: $alert-affix-color;
  border: 2px solid $alert-color;
  position: relative;

  > div {
    color: $alert-color-contrast;
    flex: 1 0 0;
  }

  &:before {
    background: $alert-color;
    opacity: 0.15;

    z-index: -1;
    display: block;
    pointer-events: none;
    position: absolute;
    content: ' ';
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
  }
}
