@use "styleguide" as pds;
@use "util";

pds-alert {
  @include pds.outer-child-spacing(--space-4, x, $trim: true, $justify: true);
  @include pds.inner-spacing(--space-5, x);
  @include pds.inner-spacing(--space-4, y);
  @include pds.rounding(--rounding-md);

  z-index: 0;
  display: flex;
  align-items: center;
  color: var(--primary-dark);
  background-color: var(--primary);
  position: relative;

  > div {
    color: var(--primary-contrast);
    flex: 1 0 0;
  }
}
