@use '../../spacing' as *;
@use "util";

$link-property-prefix: "link" !default;
$link-properties: (
  "border-color": transparent,
  "border-width": 2px,
) !default;

@mixin link {
  a {
    @include link-base;
  }
}

@mixin link-base {
  @include util.custom-properties($link-properties, $link-property-prefix);

  font-weight: bold;
  text-decoration: none;
  transition: 100ms ease-out;
  border-bottom: util.var(--border-width, $prefix: $link-property-prefix) solid
    util.var(--border-color, $prefix: $link-property-prefix);
  color: util.var(--link);
  cursor: pointer;

  &:visited {
    @include link-visited;
  }

  @include util.hover-state {
    @include link-hover;
  }
  @include util.focus-state {
    @include link-focus;
  }
  @include util.active-state {
    @include link-active;
  }
}

@mixin link-visited {
  color: util.var(--link-visited, --link);
}

@mixin link-hover {
  color: util.var(--link-hover, --link);
  border-bottom-color: util.var(--link-hover, --link);
}
@mixin link-focus {
  color: util.var(--link-focus, --link-hover);
  border-bottom-color: util.var(--link-focus, --link-hover);
}
@mixin link-active {
  color: util.var(--link-active, --link-hover);
  border-bottom-color: util.var(--link-active, --link-hover);
}
