@use '../../spacing' as *;
@use "util";

@mixin link {
  a {
    @include link-base;
  }
}

@mixin link-base {
  // font-weight: bold;
  text-decoration: none;
  transition: 100ms ease-out;
  border-bottom: 2px solid var(--link);
  color: currentColor;
  cursor: pointer;

  @include util.state((".no-decoration", ".no-deco"), true) {
    border-bottom-width: 0;
  }

  &:visited {
    @include link-visited;
  }

  @include util.hover-state {
    @include link-hover;
  }
  @include util.focus-state {
    @include link-focus;
  }
  @include util.active-state {
    @include link-active;
  }
}

@mixin link-visited {
  border-bottom-color: util.var(--link-visited, --link);
}

@mixin link-hover {
  // color: util.var(--link-hover, --link);
  border-bottom-color: util.var(--link-hover, --link);
}
@mixin link-focus {
  color: util.var(--link-focus, --focus);
  border-bottom-color: util.var(--link-focus, --focus);
}
@mixin link-active {
  // color: util.var(--link-active, --link-hover);
  border-bottom-color: util.var(--link-active, --link-hover);
}
