@use "colors/blue" as *;
@use "styleguide" as pds with (
  $color-primary-light: $strong-blue,
  $color-primary: $blue,
  $color-primary-dark: $smokey-blue
);

@include pds.core;
@include pds.html5;
@include pds.color-classes;
@include pds.typography-classes;
