@use "colors/blue" as *;
@use "styleguide" as pds with (
  $color-rgb: true,

  $color-primary-light: $strong-blue,
  $color-primary: $blue,
  $color-primary-dark: $smokey-blue
);

@include pds.core;
@include pds.semantics;
@include pds.class-semantics;
@include pds.forms;

