@use "colors/petrol" as *;
@use "styleguide" as pds with (
  $color-rgb: true,

  $color-primary-light: $turquoise,
  $color-primary: $petrol,
  $color-primary-dark: $fir-green
);

@include pds.core;
@include pds.semantics;
@include pds.class-semantics;
@include pds.forms;
