registry=https://artifactory.vitasystems.dev/artifactory/api/npm/npm/
//artifactory.vitasystems.dev/artifactory/api/npm/npm/:_password=${NPM_PASSWORD}
//artifactory.vitasystems.dev/artifactory/api/npm/npm/:username=${NPM_USERNAME}
//artifactory.vitasystems.dev/artifactory/api/npm/npm/:always-auth=true
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=${FONTAWESOME_NPM_TOKEN}
