@use "styleguide" as pds;
@use "util";

$active-indicator-width: 4px;
$static-entry-divider: 1px solid;

pds-main-menu {
  @include util.custom-color-properties(
    (
      'pds-main-menu': (
        'foreground': --foreground,
        'background': --gray-lighter,
        'primary': --primary,
        'secondary': --gray-light,
      ),
    )
  );

  display: flex;
  flex-direction: column;
  background: var(--pds-main-menu-background);
  color: var(--pds-main-menu-foreground);
  height: 100%;

  > .nav-entries {
    user-select: none;
    flex-direction: column;
    display: flex;

    &:not(.nav-entries-static) {
      flex: 1 0 auto;
    }

    &.nav-entries-static {
      .nav-entry {
        border-top: $static-entry-divider var(--pds-main-menu-secondary);
      }
    }

    .nav-entry {
      @include pds.inner-spacing(pds.$space-5, x);

      display: flex;
      cursor: pointer;
      min-height: 48px;
      align-items: center;
      font-weight: normal;
      transition: 60ms ease-out;
      // to not cause disruption when applying outer borders for active states we initially set the border values here
      border-right: $active-indicator-width solid transparent;
      border-left: $active-indicator-width solid transparent;

      @include util.active-state {
        background: var(--pds-main-menu-secondary);
        border-left: $active-indicator-width solid var(--pds-main-menu-primary);
        font-weight: bold;
      }
    }
  }
}
