@use "../../typography" as *;
@use "../../rounding" as *;
@use "../../spacing" as *;
@use "util";

$button-height: var(--input-height, auto) !default;
$button-rounding: $button-height !default;
$button-border: 2px solid !default;
$button-spacing-y: --space-2 !default;
$button-spacing-x: --space-6 !default;

@mixin button-base {
  user-select: none;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: $button-height;
  border: $button-border;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;

  line-height: 1 !important;

  @include typography-style(--button);
}

@mixin button-primary {
  border-color: var(--primary);
  background-color: var(--primary);
  color: var(--primary-contrast);

  @include util.hover-state {
    background-color: var(--primary-light);
    border-color: var(--primary-light);
  }
  @include util.focus-state {
    background-color: var(--primary);
    border-color: var(--primary-light);
  }
  @include util.active-state {
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
  }
  @include util.disabled-state {
    background-color: var(--disabled);
    border-color: var(--disabled);
    color: var(--dark-t2);
  }
}
@mixin button-secondary {
  border-color: var(--gray-darker);
  background-color: transparent;
  color: var(--gray-darker);

  @include util.hover-state {
    background-color: rgba(#000, 0.1);
  }
  @include util.focus-state {
    border-color: var(--primary-light);
  }
  @include util.active-state {
    background-color: var(--gray-darker);
    border-color: var(--gray-darker);
    color: var(--gray-lighter);
  }
  @include util.disabled-state {
    background-color: rgba(var(--gray-darkest-rgb), 0.05);
    border-color: var(--disabled);
    color: var(--disabled);
  }
}

@mixin button {
  button,
  .button {
    @include button-base;
    @include button-primary;

    @include outer-sibling-spacing(--space-4);
    @include outer-child-spacing($button-spacing-y, x, $trim: true, $justify: true);
    @include inner-spacing($button-spacing-x, x);
    @include inner-spacing($button-spacing-y, y);
    @include rounding($button-rounding);

    @content;

    &.secondary {
      @include button-secondary;
    }
    &.even {
      @include inner-spacing($button-spacing-y, x);
    }
    &.block {
      width: 100%;
    }
    &.small {
      height: var(--input-height-small, 26px);
    }
  }
}
