@use "../../typography" as *;
@use "../../rounding" as *;
@use "../../spacing" as *;
@use "util";

$button-height: var(--input-height, auto) !default;
$button-rounding: var(--rounding-md) !default;
$button-space-y: var(--space-sm) !default;
$button-space-x: var(--space-sm) !default;
$button-transition: 100ms ease-out !default;

@mixin button-base {
  @if $button-transition {
    transition: background-color $button-transition, border-color $button-transition, box-shadow $button-transition;
  }

  user-select: none;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: $button-height;
  border: 1px solid transparent;
  text-overflow: ellipsis;
  box-sizing: border-box;
  white-space: nowrap;
  cursor: pointer;

  line-height: 1 !important;

  @include typography-style(--button);
}

@mixin button-primary {
  border-color: var(--primary);
  background-color: var(--primary);
  color: var(--primary-contrast);

  @include util.hover-state {
    background-color: var(--primary-lighter);
    border-color: var(--primary-lighter);
  }
  @include util.focus-state {
    background-color: var(--focus);
    border-color: var(--focus);
    color: var(--focus-contrast);
  }
  @include util.active-state {
    background-color: var(--primary-darker);
    border-color: var(--primary-darker);
  }
  @include util.disabled-state {
    background-color: var(--disabled);
    border-color: var(--disabled);
    color: var(--disabled-contrast);
  }
}
@mixin button-secondary {
  border-color: var(--background);
  background-color: transparent;
  color: var(--primary);

  @include util.hover-state {
    color: var(--primary-lighter);
  }
  @include util.active-state {
    color: var(--primary-darker);
  }
  @include util.focus-state {
    box-shadow: 0 0 0 1px var(--focus);
    border-color: var(--focus);
    color: var(--focus);
  }
  @include util.disabled-state {
    border-color: var(--disabled);
    color: var(--disabled-contrast);
  }
}

@mixin button {
  button,
  .button {
    --button-space-x: #{$button-space-x};
    --button-space-y: #{$button-space-y};

    @include button-base;
    @include button-primary;

    @include outer-sibling-spacing(--space-md);
    @include outer-child-spacing(--button-space-y, x, $trim: true, $justify: true);
    @include inner-spacing(--button-space-x, x);
    @include inner-spacing(--button-space-y, y);
    @include rounding($button-rounding);

    @content;

    &.secondary {
      @include button-secondary;
    }
    &.even {
      @include inner-spacing(--button-space-y, x);
    }
    &.block {
      width: 100%;
    }
    &.small {
      --button-space-x: var(--space-xs);
      --button-space-y: var(--space-xs);

      height: var(--input-height-small, auto);
    }
  }
}
