@use "styleguide/spacings" as *;
@use "styleguide/roundings" as *;
@use "util";

@use "../../../inputs" as *;
@use "../../rounding" as *;
@use "../../spacing" as *;

$input-padding-x: var(--space-sm) !default;
$input-padding-y: var(--space-xs) !default;

$input-background-color: var(--sheet) !default;
$input-placeholder: var(--gray-secondary) !default;

@mixin input {
  select,
  textarea,
  input:not([type="checkbox"]):not([type="radio"]) {
    @include input-base;

    caret-color: var(--primary-light);

    @include util.hover-state {
      @include input-hover;
    }
    @include util.read-only-state {
      @include input-read-only;
    }
    @include util.focus-state {
      @include input-focus;
    }
    @include util.active-state {
      @include input-active;
    }

    @include util.disabled-state {
      @include input-disabled;
    }

    &::placeholder {
      color: $input-placeholder;
      user-select: none;
    }

    @content;
  }

  select,
  input:not([type="checkbox"]):not([type="radio"]) {
    height: var(--input-height);
  }
  textarea {
    min-height: var(--input-height);
  }
}

@mixin input-base($spacing: true) {
  @include rounding(--rounding-md);

  @if $spacing {
    @include inner-spacing($input-padding-x, x);
    @include inner-spacing($input-padding-y, y);
  }

  appearance: none;
  box-sizing: border-box;
  transition: 100ms ease-out;
  background-color: $input-background-color;
  border: $input-border;
  color: inherit;
}

@mixin input-hover {
  border-color: var(--primary-lighter);
}
@mixin input-active {
  border-color: var(--primary);
  box-shadow: none;
}
@mixin input-focus {
  box-shadow: 0 0 0 1px var(--focus);
  border-color: var(--focus);
}

@mixin input-read-only {
  border-color: var(--background);
  color: var(--disabled);
}
@mixin input-disabled {
  @include input-read-only;

  pointer-events: none;
}
