@use "styleguide/spacings" as *;
@use "styleguide/roundings" as *;
@use "util/mixins" as *;

@use "../../rounding" as *;
@use "../../spacing" as *;

$input-padding-x: $space-3 !default;
$input-padding-y: $space-2 !default;

$input-background-color: var(--gray-light) !default;
$input-border: 1px solid $input-background-color !default;
$input-placeholder: var(--gray-dark) !default;

@mixin input {
  select,
  textarea,
  input:not([type="checkbox"]):not([type="radio"]) {
    @include input-base;

    caret-color: var(--primary-light);

    @include hover-state {
      @include input-hover;
    }
    @include read-only-state {
      @include input-read-only;
    }
    @include focus-state {
      @include input-focus;
    }

    @include disabled-state {
      @include input-disabled;
    }

    @content;

    // todo: @include error_state( $within_parent: true ) { }
    .error &,
    &.error {
      @include input-error;
    }

    &::placeholder {
      color: $input-placeholder;
      user-select: none;
    }
  }

  select,
  input:not([type="checkbox"]):not([type="radio"]) {
    height: var(--input-height);
  }
  textarea {
    min-height: var(--input-height);
  }
}

@mixin input-base($spacing: true) {
  @include rounding($rounding-sm);
  @if $spacing {
    @include inner-spacing($input-padding-x, x);
    @include inner-spacing($input-padding-y, y);
  }

  appearance: none;
  box-sizing: border-box;
  transition: 100ms ease-out;
  background-color: $input-background-color;
  color: var(--foreground);
  border: $input-border;
}

@mixin input-disabled {
  border-color: var(--disabled);
  color: var(--gray-dark);
  pointer-events: none;
}
@mixin input-read-only {
  border-color: var(--disabled);
}

@mixin input-error {
  color: var(--bad);
  border-color: var(--bad);
}

@mixin input-hover {
  border-color: var(--gray);
}
@mixin input-focus {
  box-shadow: 0 0 0 1px var(--primary-light);
  border-color: var(--primary-light);
  background: var(--background);
}
