@use "styleguide" as pds;
@use "util";

$toggle-size: 20px !default;
$toggle-border-width: 2px !default;

@mixin pds-toggle-base {
  user-select: none;
  display: inline-flex;
  height: var(--input-height);
  align-items: center;
  cursor: pointer;
  line-height: 1;

  label {
    cursor: pointer;
    color: currentColor !important;
    font: inherit;

    &:first-child {
      @include pds.outer-spacing(--space-sm, right);
    }
    &:last-child {
      @include pds.outer-spacing(--space-sm, left);
    }
  }
  .toggle-indicator {
    @include pds.input-base($spacing: false);

    border-width: $toggle-border-width;
    background-color: transparent;
    color: var(--primary);
    height: $toggle-size;
    width: $toggle-size;
  }

  @include util.hover-state {
    .toggle-indicator {
      @include pds.input-hover;

      color: var(--primary-lighter);
    }
  }
  @include util.focus-state {
    color: var(--focus);

    .toggle-indicator {
      @include pds.input-focus;

      color: var(--focus);
      box-shadow: none;
    }
  }
  @include util.active-state {
    .toggle-indicator {
      @include pds.input-active;

      color: var(--primary-darker);
    }
  }

  &.intermediate {
    .toggle-indicator {
      color: currentColor;
    }
  }
  &.checked {
    .toggle-indicator {
    }
  }

  @include util.disabled-state($within_parent: true) {
    color: var(--disabled, var(--gray-dark));
    pointer-events: none;

    .toggle-indicator {
      @include pds.input-disabled;
    }
  }
}
