@use "styleguide" as pds;
@use "util";

$toggle-size: 30px !default;

@mixin pds-toggle-base {
  user-select: none;
  display: inline-flex;
  height: var(--input-height);
  align-items: center;
  cursor: pointer;
  line-height: 1;

  label {
    cursor: pointer;
    color: var(--foreground) !important;
    font: inherit;

    &:first-child {
      @include pds.outer-spacing(pds.$space-3, right);
    }
    &:last-child {
      @include pds.outer-spacing(pds.$space-3, left);
    }
  }
  .toggle-indicator {
    @include pds.input-base($spacing: false);

    color: var(--primary-light);
    width: $toggle-size;
    height: $toggle-size;
  }

  // todo: @include error_state( $within_parent: true ) { }
  @include util.hover-state {
    .toggle-indicator {
      @include pds.input-hover;
    }
  }
  @include util.focus-state {
    .toggle-indicator {
      @include pds.input-focus;
    }
  }

  &.intermediate {
    .toggle-indicator {
      color: var(--foreground);
    }
  }
  &.checked {
    .toggle-indicator {
      color: var(--primary-light);
    }
  }

  @include util.disabled-state($within_parent: true) {
    color: var(--disabled, var(--gray-dark));
    pointer-events: none;

    .toggle-indicator {
      @include pds.input-disabled;
    }
  }
}
