@use "styleguide" as pds;
@use 'toggle-base' as *;

pds-check-box {
  @include toggle-base;

  .toggle-indicator {
    @include pds.rounding(pds.$rounding-sm);

    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray-lighter);

    svg {
      fill: currentColor;
      height: $toggle-size / 2;
      width: $toggle-size / 2;
    }
  }

  &.intermediate {
    // todo
  }
}
