@use "styleguide" as pds;
@use 'toggle-base' as *;

pds-check-box {
  @include toggle-base;

  .toggle-indicator {
    @include pds.rounding(pds.$rounding-sm);

    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;

    svg {
      fill: currentColor;
      height: $toggle-size * 0.6;
      width: $toggle-size * 0.6;
    }
  }
}
