@use "styleguide" as pds;
@use 'toggle-base' as *;

$indicator-size: 12px !default;

pds-radio-box {
  @include pds-toggle-base;

  .toggle-indicator {
    @include pds.rounding($indicator-size * 2);

    display: inline-flex;
    justify-content: center;
    align-items: center;

    &:before {
      display: block;
      border-radius: inherit;
      background-color: currentColor;
      transition: 100ms;
      content: ' ';
      height: 0;
      width: 0;
    }
  }

  &.checked {
    .toggle-indicator {
      &:before {
        height: $indicator-size;
        width: $indicator-size;
      }
    }
  }
}
