@use "styleguide" as pds;
@use "util";

pds-chip {
  --primary-lighter: var(--background-lighter);
  --primary: var(--background);
  --primary-darker: var(--background-darker);

  @include pds.typography(--body-small);
  @include pds.inner-spacing(--space-sm, x);
  @include pds.outer-sibling-spacing(--space-xs);
  @include pds.rounding(--rounding-xxl);

  user-select: none;
  align-items: center;
  display: inline-flex;
  background-color: var(--primary);
  height: var(--tag-height, 28px);
  color: currentColor;

  &[interactive] {
    @include util.hover-state {
      background-color: var(--primary-lighter);
    }
    @include util.active-state {
      background-color: var(--primary-darker);
    }
  }

  @include util.focus-state {
    background-color: var(--focus);
    color: var(--focus-contrast);
  }
  @include util.disabled-state {
    color: var(--disabled);
    pointer-events: none;
  }
}
