@use "styleguide/roundings" as *;
@use "util/mixins" as *;

@use "./rounding" as *;
@use "./spacing" as *;

$scrollbar-size: 12px !default;
$scrollbar-rounding: var(--rounding-md) !default;
$scrollbar-track-color: var(--background-darker) !default;
$scrollbar-track-color-hover: var(--background-darker) !default;
$scrollbar-track-color-active: var(--background-darker) !default;
$scrollbar-thumb-color: var(--page) !default;

@mixin webkit-scrollbar {
  ::-webkit-scrollbar {
    height: $scrollbar-size;
    width: $scrollbar-size;
  }
  ::-webkit-scrollbar-track {
    @include rounding($scrollbar-rounding);

    background-color: $scrollbar-track-color;

    &:hover {
      background-color: $scrollbar-track-color-hover;
    }
    &:active {
      background-color: $scrollbar-track-color-active;
    }
  }
  ::-webkit-scrollbar-thumb {
    @include rounding($scrollbar-rounding);

    background-color: $scrollbar-thumb-color;
    border: 1px solid $scrollbar-track-color;

    &:hover {
      border-color: $scrollbar-track-color-hover;
    }
    &:active {
      border-color: $scrollbar-track-color-active;
    }
  }
}
@mixin moz-scrollbar {
  scrollbar-color: $scrollbar-thumb-color $scrollbar-track-color;
  scrollbar-width: thin;

  &:hover {
    scrollbar-color: $scrollbar-thumb-color $scrollbar-track-color-hover;
  }
}

@mixin browser-scrollbar {
  @include webkit-only {
    @include webkit-scrollbar;
  }
  @include moz-only {
    @if & {
      @include moz-scrollbar;
    } @else {
      * {
        @include moz-scrollbar;
      }
    }
  }
}
