@use "util/mixins" as *;
@use "util/custom-property" as *;
@use "util/list" as *;
@use "util/coerce";

$spacing-types: (margin, padding);
$spacing-anchors: (all, top, right, bottom, left, horizontal, vertical, x, y);
$spacing-pseudo-modes: (child, of-type); // eg. "last-OF-TYPE" or "first-CHILD"

$_default-anchor: all !default;
$_default-pseudo-mode: child !default;
$_default-justify: false !default;
$_default-trim: false !default;

@mixin inner-spacing(
  $space,
  $anchors: $_default-anchor,
  $trim: $_default-trim,
  $justify: $_default-justify,
  $pseudo-mode: $_default-pseudo-mode
) {
  @include spacing($space, padding, $anchors, $trim, $justify, $pseudo-mode);
}

@mixin outer-spacing(
  $space,
  $anchors: $_default-anchor,
  $trim: $_default-trim,
  $justify: $_default-justify,
  $pseudo-mode: $_default-pseudo-mode
) {
  @include spacing($space, margin, $anchors, $trim, $justify, $pseudo-mode);
}

@mixin outer-sibling-spacing(
  $space,
  $trim: $_default-trim,
  $justify: $_default-justify,
  $pseudo-mode: $_default-pseudo-mode
) {
  & + & {
    @include outer-spacing($space, left, $trim, $justify, $pseudo-mode);
  }
}

@mixin outer-child-spacing(
  $space,
  $anchors: $_default-anchor,
  $trim: $_default-trim,
  $justify: $_default-justify,
  $pseudo-mode: $_default-pseudo-mode
) {
  > * {
    @include outer-spacing($space, $anchors, $trim, $justify, $pseudo-mode);
  }
}

@mixin spacing(
  $space,
  $type,
  $anchors: $_default-anchor,
  $trim: $_default-trim,
  $justify: $_default-justify,
  $pseudo-mode: $_default-pseudo-mode
) {
  $space: calc(#{var-or-default($space)} * #{var(--spacing, 1)});
  $anchors: coerce.to-list($anchors);

  @include assert-some($spacing-anchors, $anchors...);
  @include assert-some($spacing-pseudo-modes, $pseudo-mode);
  @include assert-some($spacing-types, $type);

  @if some($anchors, all, top, vertical, y) {
    #{$type}-top: $space;
  }
  @if some($anchors, all, left, horizontal, x) {
    #{$type}-left: $space;
  }
  @if some($anchors, all, bottom, vertical, y) {
    #{$type}-bottom: $space;
  }
  @if some($anchors, all, right, horizontal, x) {
    #{$type}-right: $space;
  }

  @if $justify {
    @include spacing-justify($anchors, $type, $pseudo-mode);
  }
  @if $trim {
    @include spacing-trim($anchors, $type, $pseudo-mode);
  }
}

@mixin spacing-justify($anchors, $type, $pseudo-mode: $_default-pseudo-mode) {
  @include assert-some($spacing-anchors, $anchors...);
  @include assert-some($spacing-pseudo-modes, $pseudo-mode);
  @include assert-some($spacing-types, $type);

  @if some($anchors, horizontal, x) {
    &:not(:last-#{$pseudo-mode}) {
      #{$type}-right: 0;
    }
  }
  @if some($anchors, vertical, y) {
    &:not(:last-#{$pseudo-mode}) {
      #{$type}-bottom: 0;
    }
  }
}

@mixin spacing-trim($anchors, $type, $pseudo-mode: $_default-pseudo-mode) {
  @include assert-some($spacing-anchors, $anchors...);
  @include assert-some($spacing-pseudo-modes, $pseudo-mode);
  @include assert-some($spacing-types, $type);

  $is-vertical: some($anchors, vertical, y);

  &:first-#{$pseudo-mode} {
    $dir: if($is-vertical, top, left);
    #{$type}-#{$dir}: 0;
  }
  &:last-#{$pseudo-mode} {
    $dir: if($is-vertical, bottom, right);
    #{$type}-#{$dir}: 0;
  }
}
