@use "util/custom-property" as *;
@use "util/coerce";

@use "../typography";

@mixin typography-style($typography) {
  @if is-var-key($typography) {
    font-size: var($typography, $suffix: font-size);
    font-weight: var($typography, $suffix: font-weight);
    letter-spacing: var($typography, $suffix: letter-spacing);
    line-height: var($typography, $suffix: line-height);
    text-transform: var($typography, $suffix: text-transform);
  } @else {
    font-size: typography.get-font-size($typography);
    font-weight: typography.get-font-weight($typography);
    letter-spacing: typography.get-letter-spacing($typography);
    line-height: typography.get-line-height($typography);
    text-transform: typography.get-text-transform($typography);
  }
}

@mixin typography($typography) {
  @if is-var-key($typography) {
    font-family: var($typography, inherit, $suffix: font-family);
  } @else {
    font-family: typography.get-font-family($typography);
  }
  @include typography-style($typography);
}

@mixin typography-variants($variants, $prefix: null) {
  @each $variant in coerce.to-list($variants) {
    .#{if($prefix == null, $variant, "#{$prefix}-#{$variant}")} {
      @include typography("--#{$variant}");
    }
  }
}
