@use "styleguide" as pds;
@use "util";

pds-select-option {
  @include pds.outer-child-spacing(pds.$input-padding-x, x, $trim: true, $justify: true);
  @include pds.inner-spacing(pds.$input-padding-x, x);
  @include pds.inner-spacing(pds.$input-padding-y, y);

  display: flex;
  transition: color 100ms ease-out, background-color 100ms ease-out;
  align-items: center;
  cursor: default;

  @include util.focus-state {
    background: var(--gray-lighter);
    color: var(--primary-light);
  }
  @include util.active-state {
    background: var(--primary-dark);
    color: var(--primary-contrast);
  }
}
