@use "styleguide" as pds;
@use "util";

pds-select-list {
  @include pds.rounding(--rounding-sm);

  display: block;
  overflow: hidden;
  border: 1px solid var(--gray-light);
  background: var(--gray-lightest);
  width: 100%;

  pds-select-option {
    &:not(:last-child) {
      border-bottom: 1px solid var(--gray-light);
    }
  }
}
