@use "styleguide" as pds;
@use "util";

pds-select-option {
  @include pds.rounding(--rounding-md);
  @include pds.inner-spacing(--space-sm, x);
  @include pds.inner-spacing(--space-xs, y);
  @include pds.outer-child-spacing(pds.$input-padding-x, x, $trim: true, $justify: true);

  display: flex;
  transition: color 100ms ease-out, background-color 100ms ease-out;
  border: 2px solid transparent;
  align-items: center;
  cursor: default;

  @include util.hover-state {
    color: var(--primary-lighter);
  }
  @include util.active-state {
    color: var(--primary-darker);
  }

  @include util.focus-state {
    border-color: var(--focus);
    color: var(--focus);
  }

  @include util.disabled-state {
    color: var(--disabled);
    pointer-events: none;
  }
}
