@use "styleguide" as pds;
@use "util";

pds-select-list {
  @include pds.rounding(--rounding-md);
  @include pds.inner-spacing(--space-sm);
  @include pds.outer-child-spacing(--space-xs, y, $trim: true, $justify: true);

  display: block;
  overflow: hidden;
  background: var(--sheet);
  width: 100%;
}
