@use "util/color";

$deep-blue: #152e39;
$smokey-blue: #255263;
$blue: #306980;
$strong-blue: #3b809d;
$bright-blue: #4598b9;

$blue-t1: color.tint($blue, 15%);
$blue-t2: color.tint($blue, 25%);
$blue-t3: color.tint($blue, 50%);
$blue-t4: color.tint($blue, 90%);

@function blue-motion() {
  @return unquote("#{$blue} 0%, #{$bright-blue} 100%");
}
