@use "util/color";

$dark-green: #003a34;
$fir-green: #006157;
$petrol: #009c8c;
$turquoise: #00c3af;
$light-turquoise: #00ead2;

$petrol-t1: color.tint($petrol, 15%);
$petrol-t2: color.tint($petrol, 25%);
$petrol-t3: color.tint($petrol, 50%);
$petrol-t4: color.tint($petrol, 90%);

@function petrolicum() {
  @return unquote("#{$petrol} 0%, #{#00FFE5} 100%");
}
