@use "../constants" as *;
@use "../color" as *;

$dark-green: #003a34;
$fir-green: #006157;
$petrol: #009c8c;
$turquoise: #00c3af;
$light-turquoise: #00ead2;

// Tints <editor-fold>
$petrol-t1: tint($petrol, $t1);
$petrol-t2: tint($petrol, $t2);
$petrol-t3: tint($petrol, $t3);
$petrol-t4: tint($petrol, $t4);
// </editor-fold>

@function petrolicum-gradient() {
  @return unquote("linear-gradient(45%, #{$petrol} 0%, #{#00FFE5} 100%)");
}

$petrol-light: $petrol-t2;
$petrol-lighter: $petrol-t3;
$petrol-lightest: $petrol-t4;

// Maps <editor-fold>
$petrol-color-map: (
  "dark-green": $dark-green,
  "fir-green": $fir-green,
  "petrol": $petrol,
  "turquoise": $turquoise,
  "light-turquoise": $light-turquoise,
);

$petrol-color-tint-map: (
  "petrol-t1": $petrol-t1,
  "petrol-t2": $petrol-t2,
  "petrol-t3": $petrol-t3,
  "petrol-t4": $petrol-t4,
);

$petrol-color-tint-alias-map: (
  "petrol-light": $petrol-light,
  "petrol-lighter": $petrol-lighter,
  "petrol-lightest": $petrol-lightest,
);
// </editor-fold>
