$system-light: #ebebeb;

// Tints <editor-fold>
$system-light-t1: #f5f5f5;
$system-light-t2: #ffffff;
// </editor-fold>

// Maps <editor-fold>
$system-light-color-map: (
  "system-light": $system-light,
);

$system-light-color-tint-map: (
  "system-light-t1": $system-light-t1,
  "system-light-t2": $system-light-t2,
);
// </editor-fold>
