$system-orange: #e67a00;

// Tints <editor-fold>
$system-orange-t1: #ff8800;
$system-orange-t2: #fdac42;
$system-orange-t3: #fccc75;
$system-orange-t4: #fff8e6;
// </editor-fold>

$system-orange-outline: #de6800;

$system-orange-light: $system-orange-t2;
$system-orange-lighter: $system-orange-t3;
$system-orange-lightest: $system-orange-t4;

// Maps <editor-fold>
$system-orange-color-map: (
  "system-orange": $system-orange,
  "system-orange-outline": $system-orange-outline,
);

$system-orange-color-tint-map: (
  "system-orange-t1": $system-orange-t1,
  "system-orange-t2": $system-orange-t2,
  "system-orange-t3": $system-orange-t3,
  "system-orange-t4": $system-orange-t4,
);

$system-orange-color-tint-alias-map: (
  "system-orange-light": $system-orange-light,
  "system-orange-lighter": $system-orange-lighter,
  "system-orange-lightest": $system-orange-lightest,
);
// </editor-fold>
