$system-dark: #000000;

// Tints <editor-fold>
$system-dark-t1: #232323;
$system-dark-t2: #777777;
$system-dark-t3: #a3a3a3;
$system-dark-t4: #c8c8c8;
// </editor-fold>

$system-dark-outline: $system-dark-t4;

// Maps <editor-fold>
$system-dark-color-map: (
  "system-dark": $system-dark,
  "system-dark-outline": $system-dark-outline,
);

$system-dark-color-tint-map: (
  "system-dark-t1": $system-dark-t1,
  "system-dark-t2": $system-dark-t2,
  "system-dark-t3": $system-dark-t3,
  "system-dark-t4": $system-dark-t4,
);
// </editor-fold>
